<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue实例化后的方法</title>
    </head>
    <body>
        <div id="app">
            <!-- 普通事件处理 -->
            <button @click="onClick">点击事件</button>
            <span>{{num}}</span><br /><br />
            <!-- 对event进行处理 -->
            <button @click="onClicEvent($event)" num="1">点击处理event</button>
            <span>{{num_event}}</span><br /><br />
            <!-- 事件中传递参数 -->
            <button @click="onClickVal(val,$event)">
                点击处理val
            </button>
            <span>{{val}}</span><br /><br />
            <!-- watch -->
            <!-- 普通监听 -->
            <input type="text" v-model="watchVal" />
            <p>旧的值:{{ov}}</p>
            <p>新的值:{{nv}}</p>
            <!-- 监听到变化触发事件 -->
            <input type="text" v-model="watchMethods" />
            <!-- 深度监听 -->
            <p>a的值:{{obj.a}}</p>
            <button @click="obj.a = 2">改变a得值</button><br /><br />
            <!-- immediate使用 -->
            <button @click="show = true">点我出列表</button>
            <div v-if="show">
                <span
                    style="background: #ccc; margin-right: 10px;"
                    v-for="item in list"
                    >{{item}}</span
                >
            </div>

            <!-- 计算属性 -->
        </div>
    </body>
</html>
<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.1/vue.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data() {
            return {
                num: 0,
                num_event: 0,
                val: 0,
                watchVal: 1,
                ov: null,
                nv: null,
                watchMethods: 1,
                obj: { a: 1 },
                list: [],
                show: false,
            };
        },
        created() {
            // this.init();
        },
        methods: {
            onClick() {
                console.log(this);
                //Vue {_uid: 0, _isVue: true, $options: {…}, _renderProxy: Proxy, _self: Vue, …}
                this.num++;
            },
            onClicEvent(e) {
                var _num = e.target.getAttribute("num") * 1;
                this.num_event += _num;
                e.target.setAttribute("num", this.num_event);
            },
            onClickVal(val, e) {
                if (this.val < 5) this.val++;
                else {
                    this.val = "到头了";
                    e.target.setAttribute("disabled", true);
                }
            },
            alert() {
                alert("监听到变化触发了我");
            },
            init() {
                this.list = [1, 2, 3];
            },
        },
        watch: {
            watchVal(ov, nv) {
                this.ov = ov;
                this.nv = nv;
            },
            watchMethods(v) {
                if (v || v === "") this.alert();
            },
            // 深度监听方法1,deep
            obj: {
                handler() {
                    console.log("deep,a的值监听到变化了");
                },
                deep: true,
            },
            // 深度监听方法2
            "obj.a": {
                handler() {
                    console.log("字符串形式监听,a的值监听到变化了");
                },
                //deep:true 此处的deep可以不写
            },

            list: {
                handler: "init",
                immediate: true,
            },
        },
    });
</script>
